/* .navigation-bar {
    background-color: whitesmoke;
    display: flex;
    padding: 50px;
}
.back-btn{
    margin-top: 10px;
    background-color: gray;
    
}
.back-icon {
    align-items: center;
}
.sort-option {
    margin-right: auto;
}
 */
