* {
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    align-items: center;
    height: 65px;
    background-image: linear-gradient(79deg, #000000, #4a4a4a 48%, #6b6b6b);
    color: aliceblue;
    padding: 20px;
}

.Header-kp {
    height: 100%;
    margin-right: auto;
    
}

/* .Header-login {

} */