* {
    box-sizing: border-box;
    padding: 0;
    
}

.landing-page {
    min-height: 91vh;
    text-align: center;
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-image: linear-gradient(79deg, #6b6b6b, #4a4a4a 48%, #000000);
}

.page, .login-form, .register-form {
    display: flex;
    flex-direction: column;
}


.page {
    padding: 2rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 0.5rem;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}
input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
}
button {
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    
}

.btn-login:hover{
    background-color:#3c3d3f ;
}
.link-btn {
    background: none;
    color: aliceblue;
    text-decoration: underline;
}