
.Search-container {
    padding-top:10vh;
    padding-bottom: 10vh;
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.search-bar-input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 12px;
    text-indent: 10px;
    width: 100%;
    margin-left: 5px;
}

.search-bar-input:focus {
    outline: none;
}

#search-icon {
    color : linear-gradient(79deg, #6b6b6b, #4a4a4a 48%, #000000)
}
