@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS&display=swap');

@media ( min-width: 300px) {
  .carousal__container{
    justify-content: center;
    width: 80%;
    margin-right: 0;
    margin-left: 55px;
    padding-top: 30px;
    display: inline-block;
 }


  .slick-next {
    position: absolute;
    top: 42%;
    left: 100%;
    margin-left: 1px;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 2px;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .slick-prev{
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    font-size: 0px;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .carousal__img {
    transform:scale(1.3);
    transition: all 0.10s ease-out;
    width: 70%;
    height: 70%;
    margin-left: 10px;
    gap: 10px;
  }
  .carousal__img:hover{
    transform: scaleY(1.1) translateY(-50px);
    opacity: 0.3;
}
  
  .discover--text{
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: rgb(255, 255, 255);
    animation: fadeInAnimation 5s ease-in-out;
  }
  @keyframes fadeInAnimation {
    from {
      opacity: -2;
    }
    to {
      opacity: 5;
    }
  }

}

/* /////////////////////////////////////////////////////////////// */
@media ( min-width: 650px) {
  .carousal__container{
    justify-content: center;
    width: 80%;
    margin-right: 0;
    margin-left: 55px;
    padding-top: 30px;
    display: inline-block;
  }

  .slick-next {
    position: absolute;
    top: 42%;
    left: 100%;
    margin-left: 1px;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 2px;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .slick-prev{
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    font-size: 0px;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .carousal__img { 
      width: 70%;
      height: 70%;
      margin-left: 10px;
  }

  /* .carousal__slide {
    text-align: center;
    width: 20%;
    justify-content: space-between;
    display: flex;
    position: relative;
  
  } */
  
  .discover--text{
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: rgb(255, 255, 255);
    animation: fadeInAnimation 5s ease-in-out;
  }
  @keyframes fadeInAnimation {
    from {
      opacity: -2;
    }
    to {
      opacity: 5;
    }
  }
}


/* ///////////////////////////////////////////////////// */

@media(min-width: 1000px) {
  .carousal__container{
    justify-content: center;
    width: 80%;
    margin-right: 100px;
    background-color: transparent;
    padding-top: 30px;
    display: inline-block;
}
.carousal__slide {
  text-align: center;
  width: 40%;
  margin-right: 45px;
  justify-content: space-between;
  display: flex;
  position: relative;

}

.slick-next {
  position: absolute;
  top: 42%;
  left: 100%;
  margin-left: 1px;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  padding: 2px;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.slick-prev{
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  background-color: none;
  color: white;
  font-size: 0px;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.carousal__img {
  width: 70%;
  height: 70%;
  margin-left: 10px;
}


.discover--text{
  margin-top: 40px;
  text-align: center;
  font-size: 22px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: rgb(255, 255, 255);
  animation: fadeInAnimation 5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: -2;
  }
  to {
    opacity: 5;
  }
}
}

  .slick-prev::marker{
    font-size: 55px;
  }

  
