*{
  box-sizing: border-box;
} 

@media (min-width: 300px) {
  .header__container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(79deg, #000000, #4a4a4a 48%, #6b6b6b);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
 }
 
 .left--btn{ /* This is all the elements on the left hand side of header: the mic and heading.*/
     margin-left: 20px;
     display: flex;
     justify-content: space-evenly;
 }
 
 .podcast__img{
    animation: rotateAnimation 5s linear infinite;
    object-fit: contain;
    
 }
  /* Adjust the duration (5s) as needed */
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.title__name {
     font-size: 25px;
     color: rgba(255, 255, 255, 0.76);
     font-weight: bolder;
     padding-right:5px ;
     animation: wavyAnimation 2s linear infinite;
 }
 @keyframes wavyAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
 
 .right--btn {
    display: flex;
    align-items: center;
   }
   
   .search__bar {
     width: 40px;
     object-fit: contain;
     mix-blend-mode: color-burn;
   }
   
   .fav__button {
     background-color:#ffffff;
     border: none;
     font-weight: lighter;
     cursor: pointer;
     transition: transform 0.3s ease;
     margin-right: 10px;
     border-radius: 30px;
   }
   
   .fav__button:hover {
     transform: scale(1.1);
     background-color:#000000;
   }
   
   .fav__button:active {
     transform: scale(0.9);
   }

  #Star-Icon{
    font-size: 30px;
   }
   #Star-Icon:hover {
    color: #ffffff;
    transform:scale(0.5); 
   }
 

/* 
@media (min-width: 700px) {
  .header__container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(79deg, #000000, #4a4a4a 48%, #6b6b6b);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
 } 
 
 .left--btn{ 
     display: flex;
     justify-content: space-evenly;
 }
 
 .podcast__img{
  animation: rotateAnimation 5s linear infinite;
  object-fit: contain;
  
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 
.title__name {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.76);
  font-weight: bolder;
  padding-right:5px ;
  animation: wavyAnimation 2s linear infinite;
}
@keyframes wavyAnimation {
0% {
 transform: translateY(0);
}
25% {
 transform: translateY(-15px);
}
50% {
 transform: translateY(0);
}
75% {
 transform: translateY(15px);
}
100% {
 transform: translateY(0);
}
}
 
 .right--btn {
     margin-right: 50px;
     display: flex;
     align-items: center;
   }
   
   .search__bar {
     width: 40px;
     object-fit: contain;
     mix-blend-mode: color-burn;
   }
   
   .fav__button {
    background-color:#ffffff;
    border: none;
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 10px;
    border-radius: 30px;
   }
   
   .fav__button:hover {
     transform: scale(1.1);
   }
   
   .fav__button:active {
     transform: scale(0.9);
   }
}



@media (min-width: 1000px) {
  .header__container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(79deg, #000000, #4a4a4a 48%, #6b6b6b);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
 }
 
 .left--btn{
    display: flex;
    justify-content: space-evenly;
 }
 
 .podcast__img{
    width: 35px;
     object-fit: contain;
 }
 
 .podcast__img{
  animation: rotateAnimation 5s linear infinite;
  object-fit: contain;
  
}


@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 
 .right--btn {
     display: flex;
     align-items: center;
   }
   
   .search__bar {
     width: 40px;
     object-fit: contain;
     mix-blend-mode: color-burn;
   }
   
   .fav__button {
    background-color:#ffffff;
    border: none;
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 10px;
    border-radius: 30px;
   }
   
   .fav__button:hover {
     transform: scale(1.1);
   }
   
   .fav__button:active {
     transform: scale(0.9);
   }
}
 */
