@media (min-width: 300px) {
    .preview__container{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      grid-row-gap: 35px; 
      padding-left: 40px;
      margin-top: 45px;
      margin-left: 25px;
      margin-right: 0;
      justify-items: center;
      overflow: hidden;
   }
   
   .preview__information{
      width: 73%;
      font-size: 13px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      height: 360px;
      color: rgb(150, 150, 150);
      border-radius: 10px;
      border-style: none ;
      text-align: left;
      cursor: pointer;
   }
  
   .preview__information-large{
    width: 50%;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 327px;
    color: rgb(150, 150, 150);
    border-radius: 10px;
    border-style: none ;
    text-align: left;
    cursor: pointer;
   }
  
   .favorites__button{
    margin-top: 30px;
    margin-bottom: 10px;
    border-style: none;
    height: 35px;
    background-color: #b5aeaee8;
    border-radius: 13px;
    color:#000000e3;
    cursor: pointer;
   }
   
  
   .show__genre{
    padding-right: 5px;
    line-height: 1.1em;
   }
  
   .genre__title{
    font-size: 13px;
    font-weight: 1000;
   }
  
   .preview__img{
      width: 50%;
      padding-left:5px;
      padding-top: 5px;
      padding-bottom: 20px;
      margin-left: 80px;
      height: 150px;
      object-fit: contain;
      border-radius: 50px;
      transform:scale(1.3);
      transition: all 0.3s ease-out;
   }

   .preview__img:hover{
    transform: scaleY(1.1) translateY(-20px);
    opacity: 0.3;
   }
  
   .preview__img-large {
    width: 65%;
    object-fit: contain;
  }
  
   .preview__description{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; 
      line-height: 1.6em;
      max-height: 2.4em; 
      text-overflow: ellipsis;
      padding-right:10px;
   }
  
   .preview__title{
     font-family: 'Comic Sans MS', cursive, sans-serif;
      font-size: 15px;
      line-height: 1.2em;
      font-weight: 200;
      color: rgb(218, 218, 218);
   }
  
   .preview__content{
      margin-left: 13px;
   }
  
   /*Dialog styling*/
   .dialog {
     padding-left: 15px;
     padding-right: 15px;
     display:block;
     visibility: visible;
     background-color:  rgba(51, 51, 51, 0.959);  
     opacity: none;
     border-radius: 20px;
     top: 50%;
     z-index: 2;
     width: 65%;
     height: 570px;
     overflow-y: auto;
     color: transparent;
   }
  
   
   .selectedshow__mp3{
     z-index: 1;
     width:100%;
     height: 450px;
     position: relative;
   }
  
  .selectedshow__content{
     color:#000000;
     font-family: 'lato', sans-serif ;
   }
   
   .favorite__button{
    mix-blend-mode: color-burn;
    border-style: none;
    background-color: transparent;
    margin-left: 250px;
   }
  
   body.modal-open {
     overflow: hidden;
   
   }
  
   .dialog__container {
     display: inline;
     visibility: visible;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
   }
   
   /* .blur__background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     backdrop-filter: blur(8px); 
     z-index: -1;
   } */
  
   ::-webkit-scrollbar {
     width: 10px; /* width of the scrollbar */
     overflow: hidden;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #f1f1f1; /* color of the track */
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #888; /* color of the handle */
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #555; /* color of the handle on hover */
   }
  
   .content__headings{
     font-size: 18px;
     font-family: 'Roboto', sans-serif;
     padding-right: 5px;
     color:#acacace3;
   }
  
   .dialog__button{
     position: absolute;
     left: 45%;
     width: 15%;
     height: 25px;
     border-style: none;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: #000000c0;
     border-radius: 13px;
     color:#acacace3;
     cursor: pointer;
   }
   
   .select__container{
    position: relative;
   }
  
   .seasons__select{
    position: absolute;
    margin-top: 34px;
    left: 75%;
    width: 80px;
    background-color:  rgba(255, 248, 248, 0.767);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, );
    text-align: center;
   }
  
  
   .seasons__information{
    font-family: 'lato', sans-serif ;
    color:#000000;
  
   }
  
   .seasons__episodes{
    
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
   }
  
   .episodes{
    border-top-style: solid ;
    border-width: 1.8px;
    text-align: left;
    width: 100%;
    position: relative;
    display: flex;
   }
  
   .seasons__title{
    margin-top: 50px;
    height: 110px;
    font-size: 15px;
   }
  
  .episode__information{
    display: flex;
    width: 100%;
  }
  
   .episode__number{
    font-weight: bold;
    font-size: 13px;
    width: 27%;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
   }
  
   .episode__details{
    width: 60%;
    height:fit-content;
    text-overflow: ellipsis;
   }
  
   .episode__description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    font-size: 12px;
   }
  
   .play__button > img{
    position:absolute;
    width: 40px;
    top: 25%;
    left: 90%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
   }
   
  .play__button:active {
    transform: scale(0.1);
  }
  
  .blurred__background{
    padding-left: 0;
    padding-right: 0;
    z-index: 0;
    width: 100%;
    height: 450px;
    filter: blur(10px);
    position: absolute;
  }
  
  .selectedshow__image{
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 350px;
    top: 7%;
    left: 15%;
  }
  
  .audio__player{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 75px;
    top: 82%;
    margin-left: 0;
  }
  
  
  
  .back__button{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 250px;
    border-style: none;
    width: 60px;
    height: 35px;
    background-color: #0e0e0ee8;
    border-radius: 13px;
    color:#acacace3;
    cursor: pointer;
  }

  .back--login{
    position: fixed;
    margin-top: 30px;
    margin-bottom: 10px;
    border-style: none;
    width: 100px;
    height: 35px;
    background-color: #b5aeaee8;
    border-radius: 13px;
    color:#000000e3;
    cursor: pointer;
  }
  .loading__container{
    height: 400px;
  }
  
  .loading{
    margin-top: 170px;
    margin-left: 650px;
  }
  
  .loading__open{
    margin-top: 300px;
    margin-left: 650px;
  }
  
  }
  
  @media (min-width: 700px) {
    .preview__container{
      display: grid;
      width: 98%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      grid-row-gap: 35px; 
      padding-left: 40px;
      margin-top: 45px;
      margin-left: 25px;
      margin-right: 0;
      justify-items: center;
      overflow: hidden;
   }
   
   .preview__information{
      width: 73%;
      font-size: 13px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      height: 360px;
      color: rgb(150, 150, 150);
      border-radius: 10px;
      border-style: none ;
      text-align: left;
      cursor: pointer;
   }
  
   .preview__information-large{
    width: 40%;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 327px;
    color: rgb(150, 150, 150);
    border-radius: 10px;
    border-style: none ;
    text-align: left;
    cursor: pointer;
   }
  
   .show__genre{
    padding-right: 5px;
    line-height: 1.1em;
   }
  
   .genre__title{
    font-size: 13px;
    font-weight: bold;
   }
  
   .preview__img{
      width: 70%;
      padding-left:15px;
      padding-top: 15px;
      margin-left: 25px;
      object-fit: contain;
   }
  
   .preview__img-large {
    width: 65%;
    object-fit: contain;
  }
  
   .preview__description{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; 
      line-height: 1.6em;
      max-height: 2.4em; 
      text-overflow: ellipsis;
      padding-right:10px;
   }
  
   .preview__title{
     font-family: 'Comic Sans MS', cursive, sans-serif;
      font-size: 15px;
      line-height: 1.2em;
      font-weight: 200;
      color: rgb(218, 218, 218);
   }
  
   .preview__content{
      margin-left: 13px;
   }
  
   /*Dialog styling*/
   .dialog {
     padding-left: 15px;
     padding-right: 15px;
     display:block;
     visibility: visible;
     position: relative;
     background-color:  rgba(51, 51, 51, 0.959);  
     opacity: none;
     top: 50%;
     left: 33%;
     transform: translate(-50%, -50%);
     z-index: 2;
     width: 65%;
     height: 570px;
     color: transparent;
     overflow-y: auto;
   }
  
   
   .selectedshow__mp3{
     z-index: 1;
     width:100%;
     height: 450px;
     position: relative;
   }
  
   .favorite__button{
    mix-blend-mode: color-burn;
    border-style: none;
    color: #888;
    background-color: transparent;
    margin-left: 10px;
   }
  
  .selectedshow__content{
     color:#000000;
     font-family: 'lato', sans-serif ;
   }
   
  
   body.modal-open {
     overflow: hidden;
   
   }
  
   .dialog__container {
     display: inline;
     visibility: visible;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
   }
   
   /* .blur__background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     backdrop-filter: blur(8px); 
     z-index: -1;
   } */
  
   ::-webkit-scrollbar {
     width: 10px; /* width of the scrollbar */
     overflow: hidden;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #f1f1f1; /* color of the track */
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #888; /* color of the handle */
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #555; /* color of the handle on hover */
   }
  
   .content__headings{
     font-size: 18px;
     font-family: 'Roboto', sans-serif;
     padding-right: 5px;
     color:#acacace3;
   }
  
   .dialog__button{
     position: absolute;
     left: 45%;
     width: 10%;
     height: 25px;
     border-style: none;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: #000000c0;
     border-radius: 13px;
     color:#acacace3;
     cursor: pointer;
   }
   
   .select__container{
    position: relative;
   }
  
   .seasons__select{
    position: absolute;
    margin-top: 34px;
    left: 82%;
    background-color:  rgba(255, 248, 248, 0.767);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, );
    text-align: center;
   }
  
  
   .seasons__information{
    font-family: 'lato', sans-serif ;
    color:#000000;
  
   }
  
   .seasons__episodes{
    
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
   }
  
   .episodes{
    border-top-style: solid ;
    border-width: 1.8px;
    text-align: left;
    width: 100%;
    position: relative;
    display: flex;
   }
  
   .seasons__title{
    margin-top: 50px;
    height: 110px;
    font-size: 19px;
   }
  
  .episode__information{
    display: flex;
    width: 100%;
  }
  
   .episode__number{
    font-weight: bold;
    font-size: 18px;
    width: 20%;
    margin-left: 0;
    margin-right: 0;
   }
  
   .episode__details{
    width: 65%;
    height:fit-content;
    text-overflow: ellipsis;
   }
  
   .episode__description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    
   }
  
   .play__button > img{
    position:absolute;
    width: 50px;
    top: 25%;
    left: 90%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
   }
   
  .play__button:active {
    transform: scale(0.1);
  }
  
  .blurred__background{
    padding-left: 0;
    padding-right: 0;
    z-index: 0;
    width: 100%;
    height: 450px;
    filter: blur(10px);
    position: absolute;
  }
  
  .selectedshow__image{
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 350px;
    top: 7%;
    left: 15%;
  }
  
  .audio__player{
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 75px;
    top: 82%;
    left: 10%;
  }
  
  
  
  .back__button{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 350px;
    border-style: none;
    width: 60px;
    height: 35px;
    background-color: #0e0e0ee8;
    border-radius: 13px;
    color:#acacace3;
    cursor: pointer;
  }
  .back-to-login{
    position: fixed;
    margin-top: 30px;
    margin-bottom: 10px;
    border-style: none;
    width: 60px;
    height: 35px;
    background-color: #ffffffe8;
    border-radius: 13px;
    color:#000000e3;
    cursor: pointer;
  }
  .loading__container{
    height: 400px;
  }
  
  .loading{
    margin-top: 170px;
    margin-left: 650px;
  }
  
  .loading__open{
    margin-top: 300px;
    margin-left: 650px;
  }
  
  }
  
  
  @media (min-width: 1000px) {
    .preview__container{
      display: grid;
      width: 98%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      grid-row-gap: 35px; 
      padding-left: 40px;
      margin-top: 45px;
      margin-left: 25px;
      margin-right: 0;
      justify-items: center;
      overflow: hidden;
   }
   
   .preview__information{
      width: 73%;
      font-size: 13px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      height: 327px;
      color: rgb(150, 150, 150);
      border-radius: 10px;
      border-style: none ;
      text-align: left;
      cursor: pointer;
   }
  
   .preview__information-large{
    width: 20%;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 327px;
    color: rgb(150, 150, 150);
    border-radius: 10px;
    border-style: none ;
    text-align: left;
    cursor: pointer;
   }
  
   .show__genre{
    padding-right: 5px;
    line-height: 1.1em;
   }
  
   .genre__title{
    font-size: 13px;
    font-weight: bold;
   }
  
   .preview__img{
      width: 70%;
      padding-left:15px;
      padding-top: 15px;
      margin-left: 25px;
      object-fit: contain;
   }
  
   .preview__img-large {
    width: 65%;
    object-fit: contain;
  }
  
   .preview__description{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; 
      line-height: 1.6em;
      max-height: 2.4em; 
      text-overflow: ellipsis;
      padding-right:10px;
   }
  
   .preview__title{
     font-family: 'Comic Sans MS', cursive, sans-serif;
      font-size: 15px;
      line-height: 1.2em;
      font-weight: 200;
      color: rgb(218, 218, 218);
   }
  
   .preview__content{
      margin-left: 13px;
   }
  
   /*Dialog styling*/
   .dialog {
     padding-left: 15px;
     padding-right: 15px;
     display:block;
     visibility: visible;
     position: relative;
     background-color:  rgba(51, 51, 51, 0.959);  
     opacity: none;
     border-radius: 20px;
     top: 50%;
     left: 33%;
     transform: translate(-50%, -50%);
     z-index:2;
     width: 65%;
     height: 570px;
     overflow-y: auto;
     color: transparent;
   }
  
   
   .selectedshow__mp3{
     z-index: 1;
     width:100%;
     height: 450px;
     position: relative;
   }
  
   .favorite__button{
    mix-blend-mode: color-burn;
    border-style: none;
    background-color: transparent;
    margin-left: 800px;
   }
  
  .selectedshow__content{
     
     color:#000000;
     font-family: 'lato', sans-serif ;
   }
   
  
   body.modal-open {
     overflow: hidden;
   
   }
  
   .dialog__container {
     display: inline;
     visibility: visible;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
   }
   
   /* .blur__background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     backdrop-filter: blur(8px); 
     z-index: -1;
   } */
  
   ::-webkit-scrollbar {
     width: 10px; /* width of the scrollbar */
     overflow: hidden;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #f1f1f1; /* color of the track */
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #888; /* color of the handle */
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #555; /* color of the handle on hover */
   }
  
   .content__headings{
     font-size: 18px;
     font-family: 'Roboto', sans-serif;
     padding-right: 5px;
     color:#acacace3;
   }
  
   .dialog__button{
     position: absolute;
     left: 45%;
     width: 10%;
     height: 25px;
     border-style: none;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: #000000c0;
     border-radius: 13px;
     color:#acacace3;
     cursor: pointer;
   }
   
   .select__container{
    position: relative;
   }
  
   .seasons__select{
    position: absolute;
    margin-top: 34px;
    left: 82%;
    background-color:  rgba(255, 248, 248, 0.767);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, );
    text-align: center;
   }
  
  
   .seasons__information{
    font-family: 'lato', sans-serif ;
    color:#000000;
  
   }
  
   .seasons__episodes{
    
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
   }
  
   .episodes{
    border-top-style: solid ;
    border-width: 1.8px;
    text-align: left;
    width: 100%;
    position: relative;
    display: flex;
   }
  
   .seasons__title{
    margin-top: 50px;
    height: 110px;
    font-size: 19px;
   }
  
  .episode__information{
    display: flex;
    width: 100%;
  }
  
   .episode__number{
    font-weight: bold;
    font-size: 18px;
    width: 15%;
    margin-left: 0;
    margin-right: 0;
   }
  
   .episode__details{
    width: 70%;
    height:fit-content;
    text-overflow: ellipsis;
   }
  
   .episode__description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    
   }
  
   .play__button > img{
    position:absolute;
    width: 50px;
    top: 25%;
    left: 90%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
   }
   
  .play__button:active {
    transform: scale(0.1);
  }
  
  .blurred__background{
    padding-left: 0;
    padding-right: 0;
    z-index: 0;
    width: 100%;
    height: 450px;
    filter: blur(10px);
    position: absolute;
  }
  
  .selectedshow__image{
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 350px;
    top: 7%;
    left: 15%;
  }
  
  .audio__player{
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 75px;
    top: 82%;
    left: 10%;
  }
  
  
  
  .back__button{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 650px;
    border-style: none;
    width: 60px;
    height: 35px;
    background-color: #0e0e0ee8;
    border-radius: 13px;
    color:#acacace3;
    cursor: pointer;
  }
  
  .loading__container{
    height: 400px;
  }
  
  .loading{
    margin-top: 170px;
    margin-left: 650px;
  }
  
  .loading__open{
    margin-top: 300px;
    margin-left: 650px;
  }
   }

   .description--show {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }